{% extends 'master.twig' %}

{% block body %}

{{include('header.twig')}}
{% block sidebar %}
{% endblock %}

<!-- Main Wrapper -->
<div id="wrapper">
	{% block content %}

	{% endblock %}
</div>

{% endblock %}