<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/html">
	<!-- Mirrored from forbetterweb.com/html/lovehub/1.6/indexslider.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 21 Sep 2016 07:37:42 GMT -->
	<!-- Added by HTTrack -->
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<!-- /Added by HTTrack -->
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{assetUrl}}images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<title>{{title}}</title>

		{% for metaname, metavalue in meta %}
		<meta name="{{metaname}}" value="{{metavalue}}" />
		{% endfor %}

		<!-- publish javascript variable -->
		<script>
			var global = {{global|json_encode|raw}}
		</script>

		<!-- Include registered css -->
		{% for cssfile in css.external %}
		<link rel="stylesheet" href="{{cssfile}}" />
		{% endfor %}

		{% for cssfile in css.internal %}
		<link rel="stylesheet" href="{{assetUrl}}css/{{cssfile}}" />
		{% endfor %}

		<!-- Include registered javascript -->
		{% for jsfile in js.external %}
		<script src="{{jsfile}}"></script>
		{% endfor %}

		{% for jsfile in js.internal %}
		<script src="{{assetUrl}}js/{{jsfile}}"></script>
		{% endfor %}
	</head>

	<body>
		<!--pre-loader-->
		<div id="preloader"></div>
		<!--pre-loader-->
		<!--===============main navigation + top bar==========================-->
		<header class="header header-top-transparent">
			<!--top bar-->
			<div class="top-bar">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 hidden-xs">
							<ul class="list-inline">
								<li>
									<a href="javascript:void(0)"><i class="ion-ios-telephone"></i> +02 111 11 11</a>
								</li>
								<li>
									<a href="javascript:void(0)"><i class="ion-email"></i> support@udecide.com</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 text-right">
							<ul class="list-inline level-2">
								<li class="b-table">
									<a href="login" class=" waves-float waves-button">Login</a>
								</li>
								{#
								<li class="lang">
									<a href="#" data-toggle="dropdown" class="dropdown-toggle">Lang <i class="ion-ios-arrow-down"></i></a>
									<ul class="dropdown-menu lang-dropdown">
										<li>
											<a href="javascript:void(0)"><img class="flag" src="assets/images/spanish.png" alt="Spanish">Spanish</a>
										</li>
										<li>
											<a href="javascript:void(0)"><img class="flag" src="assets/images/italy.png" alt="Italian">Italian</a>
										</li>
										<li>
											<a href="javascript:void(0)"><img class="flag" src="assets/images/german.png" alt="German">German</a>
										</li>
										<li>
											<a href="javascript:void(0)"><img class="flag" src="assets/images/fr.png" alt="French">French</a>
										</li>
										<li>
											<a href="javascript:void(0)"><span><img class="flag" src="assets/images/usa-flag.png" alt="English">English</span></a>
										</li>
										<li>
											<a href="javascript:void(0)"><img class="flag" src="assets/images/jp.png" alt="Japanise">Japanise</a>
										</li>
										<li>
											<a href="javascript:void(0)"><img class="flag" src="assets/images/in.png" alt="Hindi">Hindi</a>
										</li>
									</ul>
								</li>
								#}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--end top bar-->
			<!--cart menu side panel-->
			<aside id="cartNavmenu" class="navmenu navmenu-inverse navmenu-fixed-right offcanvas">
				<div class="cart-inner">
					<h4>Your cart (3)</h4>
					<hr>
					<ul class="list-unstyled cart-list margin-b-30">
						<li class="clearfix">
							<div class="cart-thumb">
								<a href="#"> <img src="assets/images/img-1.jpg" alt="" class="img-responsive" width="90"> </a>
							</div>
							<div class="cart-content">
								<span class="close"><i class="ion-close"></i></span>
								<h5>Bonanaza family pack</h5>
								<p>
									<span class="price">$48.00</span> x 2
								</p>
							</div>
						</li>
						<li class="clearfix">
							<div class="cart-thumb">
								<a href="#"> <img src="assets/images/img-2.jpg" alt="" class="img-responsive" width="90"> </a>
							</div>
							<div class="cart-content">
								<span class="close"><i class="ion-close"></i></span>
								<h5>Bonanaza family pack</h5>
								<p>
									<span class="price">$48.00</span> x 2
								</p>
							</div>
						</li>
						<li class="clearfix">
							<div class="cart-thumb">
								<a href="#"> <img src="assets/images/img-3.jpg" alt="" class="img-responsive" width="90"> </a>
							</div>
							<div class="cart-content">
								<span class="close"><i class="ion-close"></i></span>
								<h5>Bonanaza family pack</h5>
								<p>
									<span class="price">$48.00</span> x 2
								</p>
							</div>
						</li>
						<li>
							<div class="text-center">
								<a href="shop-checkout.html" class="btn btn-default">Checkout</a>
								<a href="shop-cart.html" class="btn btn-primary">View Cart</a>
							</div>
						</li>
					</ul>
				</div>
			</aside>

			<!--main navigation-->
			<nav class="navbar navbar-default navbar-static-top sticky-header">
				<div class="container">

					<!--cart icon-->
					<div class="pull-right cart-nav">
						<a href="javascript:void(0)" data-toggle="offcanvas" data-target="#cartNavmenu" data-canvas="body"><i class="ion-ios-cart"></i> <span class="badge">3</span></a>
					</div>
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"> <img src="assets/images/Logo-w-U-Decide.png" alt="logo" class="logo-default"> <img src="assets/images/logo-dark.png" alt="logo" class="logo-scroll"> </a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li>
										<a href="index.html">V1 - Default slider</a>
									</li>
									<li>
										<a href="index-video.html">V2 - Video background</a>
									</li>
									<li>
										<a href="index-parallax-static.html">V3 - parallax Static</a>
									</li>
									<li>
										<a href="index-left-navbar.html">V4 - left navbar</a>
									</li>
									<li>
										<a href="index-right-navbar.html">V5 - right navbar</a>
									</li>
									<li>
										<a href="index-boxed.html">V6 - Boxed version</a>
									</li>
									<li>
										<a href="one-page.html">V7 - One Page</a>
									</li>
									<li class="dropdown-submenu">
										<a tabindex="-1" href="#">Menu Levels </a>
										<ul class="dropdown-menu">
											<li class="dropdown-submenu">
												<a tabindex="-1" href="#">menu level 2 </a>
												<ul class="dropdown-menu">
													<li>
														<a href="#"> menu level 3</a>
													</li>
													<li>
														<a href="#"> menu level 3</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li>
										<a href="menu-simple.html">Menu simple</a>
									</li>
									<li>
										<a href="menu-tiles.html">Menu tiles</a>
									</li>
									<li>
										<a href="menu-grid.html">Menu grid</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li>
										<a href="blog-rightsidebar.html">Right sidebar</a>
									</li>
									<li>
										<a href="blog-leftsidebar.html">Left sidebar</a>
									</li>
									<li>
										<a href="blog-masonry.html">Masonry</a>
									</li>
									<li>
										<a href="blog-fullwidth.html">Full width</a>
									</li>
									<li>
										<a href="blog-post.html">Single Page</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="reservation.html">Reservation</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li>
										<a href="about.html">About</a>
									</li>
									<li>
										<a href="gallery.html">Gallery</a>
									</li>
									<li>
										<a href="contact.html">Contact us</a>
									</li>
									<li>
										<a href="login-register.html">Login Register</a>
									</li>
									<li>
										<a href="page-full-width.html">Page Full Width</a>
									</li>
									<li>
										<a href="error-404.html">Error 404</a>
									</li>
									<li>
										<a href="page-left-sidebar.html">Page left sidebar</a>
									</li>
									<li>
										<a href="typography.html">Typography</a>
									</li>
									<li>
										<a href="elements.html">Eelements</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li>
										<a href="shop-products.html">Products</a>
									</li>
									<li>
										<a href="shop-cart.html">Cart</a>
									</li>
									<li>
										<a href="shop-checkout.html">Checkout</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div><!--/.container-fluid -->
			</nav>
		</header>

		<!--===============end main navigation + top bar =====================-->

		<!--slider revolution start-->
		<div class="rev_slider_wrapper">
			<div id="slider1" class="rev_slider fullwidthabanner"  data-version="5.0">
				<ul>
					<li data-transition="random">
						<!-- MAIN IMAGE -->

						<img src="assets/images/bg1.jpg"  alt=""  width="1920" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg">
						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-resizeme slider-title"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
						data-fontsize="['80','80','80','45']"
						data-lineheight="['80','80','80','50']"
						data-width="none"
						data-height="none"

						data-transform_idle="o:1;"
						data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:300;"
						data-start="500">
							Restaurant
						</div>
						<div class="tp-caption tp-resizeme slider-caption"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']"
						data-fontsize="['20','20','20','15']"
						data-lineheight="['25','25','25','20']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:300;"
						data-start="1000">
							The best food in town at one of the best locations
						</div>
						<div class="tp-caption tp-resizeme slider-button"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:300;"
						data-start="1500">
							<a href="#" class="btn btn-xl btn-dark">Book A Table</a>
						</div>
					</li>
					<li data-transition="random">
						<!-- MAIN IMAGE -->

						<img src="assets/images/bg2.jpg"  alt=""  width="1920" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg">
						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-resizeme slider-title"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
						data-fontsize="['80','80','80','45']"
						data-lineheight="['80','80','80','50']"
						data-width="none"
						data-height="none"

						data-transform_idle="o:1;"
						data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:300;"
						data-start="500">
							Best chefs
						</div>
						<div class="tp-caption tp-resizeme slider-caption"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']"
						data-fontsize="['20','20','20','15']"
						data-lineheight="['25','25','25','20']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:300;"
						data-start="1000">
							The best food in town at one of the best locations
						</div>
						<div class="tp-caption tp-resizeme slider-button"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:300;"
						data-start="1500">
							<a href="#" class="btn btn-xl btn-primary">Book A Table</a>
						</div>
					</li>
					<li data-transition="random">
						<!-- MAIN IMAGE -->

						<img src="assets/images/bg11.jpg"  alt=""  width="1920" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg">
						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-resizeme slider-title"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
						data-fontsize="['80','80','80','45']"
						data-lineheight="['80','80','80','50']"
						data-width="none"
						data-height="none"

						data-transform_idle="o:1;"
						data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:300;"
						data-start="500">
							Extended menu
						</div>
						<div class="tp-caption tp-resizeme slider-caption"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']"
						data-fontsize="['20','20','20','15']"
						data-lineheight="['25','25','25','20']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:300;"
						data-start="1000">
							The best food in town at one of the best locations
						</div>
						<div class="tp-caption tp-resizeme slider-button"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:300;"
						data-start="1500">
							<a href="#" class="btn btn-xl btn-primary">Book A Table</a>
						</div>
					</li>
				</ul>
			</div><!-- END REVOLUTION SLIDER -->
		</div><!-- END OF SLIDER WRAPPER -->
		<!--end slider revolution-->

		<div class="space-70"></div>
		<div class="overflow-hidden">
			<div class="container">
				<div class="row vertical-align-child">
					<div class="col-md-6 text-center">
						<h1 class="title-1">Welcome to <span class="text-color ">resto</span></h1>
						<h5 class="subtitle">Our Little Story</h5>
						<div class="space-30"></div>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean <span class="text-color">commodo</span> ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
						</p>
						<blockquote>
							Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.

						</blockquote>
						<img src="assets/images/sign.png" alt="">
						<div class="space-30"></div>
					</div>
					<div class="col-md-6">
						<img src="assets/images/combine1.png" alt="" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		<div class="space-70"></div>
		<div class="cta-background parallax-background" data-stellar-background-ratio="0.3">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-4 text-left">
						<p class="lead ">
							" Cooking everything with respect will lead to amazing tasting experiences "
						</p>
						<span class="lead">Rolf Baumann</span>
					</div>
				</div>
			</div>
		</div><!--end call to action-->
		<div class="space-70"></div>

		<div class="container">
			<div class="text-center">
				<h1 class="title-1">Todays <span class="text-color ">Special</span></h1>
				<h5 class="subtitle">menu of the day</h5>
				<div class="space-30"></div>
			</div>
			<div class="row vertical-align-child">
				<div class="col-md-6">
					<div>

						<!-- Nav tabs -->
						<ul class="list-inline menu-tabs margin-b-30" role="tablist">
							<li role="presentation" class="active">
								<a href="#drink" aria-controls="drink" role="tab" data-toggle="tab">Drinks</a>
							</li>
							<li role="presentation">
								<a href="#lunch" aria-controls="lunch" role="tab" data-toggle="tab">Lunch</a>
							</li>
							<li role="presentation">
								<a href="#dinner" aria-controls="dinner" role="tab" data-toggle="tab">Dinner</a>
							</li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="drink">
								<ul class="list-unstyled">
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/a2.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Special Coffee</a><span>$7.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/a3.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Beers</a><span>$12.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/a2.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Milk Tea</a><span>$16.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/img-6.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Juice</a><span>$14.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
								</ul>
							</div>
							<div role="tabpanel" class="tab-pane" id="lunch">
								<ul class="list-unstyled">
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/img-6.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Salad</a><span>$7.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/img-3.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Sandwiches</a><span>$14.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/img-1.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Cakes</a><span>$9.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/img-8.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Appetizers</a><span>$4.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
								</ul>
							</div>
							<div role="tabpanel" class="tab-pane" id="dinner">
								<ul class="list-unstyled">
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/img-9.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Rice & Flesh</a><span>$8.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/img-6.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Seafood</a><span>$11.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/img-5.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Chicken</a><span>$6.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
									<li class="menu-box clearfix margin-b-20">
										<div class="thumb">
											<img src="assets/images/img-4.jpg" width="70" class="img-responsive" alt="">
										</div>
										<div class="menu-content">
											<h4><a href="#">Veal & Beef</a><span>$9.79</span></h4>
											<p>
												pellentesque enim. Aliquam tempor
											</p>
										</div>
									</li><!--end menu box-->
								</ul>
							</div>

						</div>

					</div><!--end tabs-->
				</div>
				<div class="col-md-6 text-center">

					<div class="abso-img">
						<a href="menu-tiles.html" class="btn btn-dark btn-xl">View Full Menu</a>
						<img src="assets/images/m1.jpg" alt="" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		<div class="space-70"></div>
		<div class="about-chefs" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<h1 class="text-uppercase"> award winning chefs </h1>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
						</p>
					</div>

				</div>
			</div>
		</div><!--about chef cta-->
		<div class="testimonials" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="text-center">
							<h1 class="title-1">Customer <span class="text-color ">Reviews</span></h1>
							<h5 class="subtitle">What they say</h5>
							<div class="space-30"></div>
						</div>
						<div class="testi-slider">
							<ul class="slides">
								<li>
									<p>
										Duis leo justo, condimentum at purus eu,Aenean sed dolor sem. Etiam massa libero, auctor vitae egestas et, accumsan quis nunc.
									</p>

									<div class="testi-info">
										<img src="assets/images/avtar-1.jpg" alt="" width="50" class="img-circle">
										<h4>John Doe <small> - Resto customer</small></h4>

										<i class="ion-star"></i>
										<i class="ion-star"></i>
										<i class="ion-star"></i>
										<i class="ion-star"></i>
										<i class="ion-ios-star-half"></i>
									</div>
								</li><!--slide item-->
								<li>
									<p>
										Duis leo justo, condimentum at purus eu,Aenean sed dolor sem. Etiam massa libero, auctor vitae egestas et, accumsan quis nunc.
									</p>

									<div class="testi-info">
										<img src="assets/images/avtar-2.jpg" alt="" width="50" class="img-circle">
										<h4>John Doe <small> - Resto customer</small></h4>

										<i class="ion-star"></i>
										<i class="ion-star"></i>
										<i class="ion-star"></i>
										<i class="ion-star"></i>
										<i class="ion-ios-star-half"></i>
									</div>
								</li><!--slide item-->
								<li>
									<p>
										Duis leo justo, condimentum at purus eu,Aenean sed dolor sem. Etiam massa libero, auctor vitae egestas et, accumsan quis nunc.
									</p>

									<div class="testi-info">
										<img src="assets/images/avtar-3.jpg" alt="" width="50" class="img-circle">
										<h4>John Doe <small> - Resto customer</small></h4>
										<i class="ion-star"></i>
										<i class="ion-star"></i>
										<i class="ion-star"></i>
										<i class="ion-star"></i>
										<i class="ion-ios-star-half"></i>
									</div>
								</li><!--slide item-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--testimonials end-->

		<div class="cta-background-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 text-center">
						<h1 class="text-uppercase">Book a table now</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
						</p>
						<a href="#" class="btn btn-white btn-rounded">Make a reservation</a>
					</div>
				</div>
			</div>
		</div>
		<div class="cta-skin contact-info">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 margin-b-30">
						<i class="ion-email"></i>
						<div class="overflow-hidden">
							<h4>Email</h4>
							<p class="lead">
								yourmail@dmain.com
							</p>
						</div>
					</div>
					<div class="col-sm-4 margin-b-30">
						<i class="ion-email"></i>
						<div class="overflow-hidden">
							<h4>Reservation</h4>
							<p class="lead">
								+01 123-456-4590
							</p>
						</div>
					</div>
					<div class="col-sm-4 margin-b-30">
						<i class="ion-map"></i>
						<div class="overflow-hidden">
							<h4>Location</h4>
							<p class="lead">
								124, Lorem Street, NY
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 margin-b-30">
						<img class="margin-b-20" src="assets/images/logo-light.png" alt="">
						<p>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						</p>
						<h5><a href="#">Read More...</a></h5>
					</div>
					<div class="col-md-3 margin-b-30">
						<h3>Recent Posts</h3>
						<ul class="list-unstyled recent-post">
							<li class="clearfix">
								<a href="#"> <img src="assets/images/a1.jpg" alt="" width="70"> </a>
								<div class="post-content">
									<h5><a href="#">Pizza cordoin lorem ipsum dolor sit amet</a></h5>
									<span>14 April 2016</span>
								</div>
							</li>
							<li class="clearfix">
								<a href="#"> <img src="assets/images/a2.jpg" alt="" width="70"> </a>
								<div class="post-content">
									<h5><a href="#">Cordoin lorem ipsum dolor sit amet</a></h5>
									<span>14 April 2016</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-3 margin-b-30">
						<h3>Opening hours</h3>
						<p>
							<span class="text-color">Monday: </span>Closed
						</p>
						<p>
							<span class="text-color">Tue-Wed :</span> 9:Am - 10PM
						</p>
						<p>
							<span class="text-color">Thu-Fri :</span> 9:Am - 10PM
						</p>
						<p>
							<span class="text-color">Sat-Sun :</span> 5:PM - 10PM
						</p>
					</div>
					<div class="col-md-3 margin-b-30">
						<h3>Contact Us</h3>
						<p class="lead">
							Ipsum Street, Lorem Tower, MO, Columbia, 302012
						</p>
						<p class="lead">
							<a href="#">+01 1800 100 1000</a>
						</p>
						<p>
							<a href="#">info@resto.com</a>
						</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-12 text-center">
						<ul class="list-inline f-social">
							<li>
								<a href="#"><i class="ion-social-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="ion-social-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="ion-social-linkedin"></i></a>
							</li>
							<li>
								<a href="#"><i class="ion-social-googleplus"></i></a>
							</li>
							<li>
								<a href="#"><i class="ion-social-instagram"></i></a>
							</li>
						</ul>
						<span>&copy; Copyright 2016. U-Decide</span>
					</div>
				</div>
			</div>
		</footer>

		<!--back to top-->
		<a href="#" class="scrollToTop"><i class="ion-android-arrow-up"></i></a>
		<!--back to top end-->

		<script>
			jQuery(document).ready(function() {
				jQuery("#slider1").revolution({
					sliderType : "standard",
					jsFileLocation : "../../revolution/js/",
					sliderLayout : "fullscreen",
					dottedOverlay : "none",
					delay : 9000,
					navigation : {
						arrows : {
							enable : true
						}
					},
					parallax : {
						type : "on",
						levels : [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85],
						origo : "enterpoint",
						speed : 400,
						bgparallax : "on",
						disable_onmobile : "off"
					},
					gridwidth : 1170,
					gridheight : 600
				});
			});
		</script>
	</body>

	<!-- Mirrored from forbetterweb.com/html/lovehub/1.6/indexslider.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 21 Sep 2016 07:39:26 GMT -->
</html>