<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{assetUrl}}images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		{% for metaname, metavalue in meta %}
		<meta name="{{metaname}}" value="{{metavalue}}" />
		{% endfor %}

		<!-- publish javascript variable -->
		<script>
			var global = {{global|json_encode|raw}}
		</script>

		<!-- Include registered css -->
		{% for cssfile in css.external %}
		<link rel="stylesheet" href="{{cssfile}}" />
		{% endfor %}

		{% for cssfile in css.internal %}
		<link rel="stylesheet" href="{{assetUrl}}css/{{cssfile}}" />
		{% endfor %}

		<!-- Include registered javascript -->
		{% for jsfile in js.external %}
		<script src="{{jsfile}}"></script>
		{% endfor %}

		{% for jsfile in js.internal %}
		<script src="{{assetUrl}}js/{{jsfile}}"></script>
		{% endfor %}
	</head>
	<body>
		<input type="hidden" id="base_url" value="{{ baseUrl() }}"/>

		{% block body %}{% endblock %}
		<!-- Pin Code -->
		<div class="modal fade" id="pin-code" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Pin Code Verification</h4>
					</div>
					<div class="modal-body internal-panel">
						<input type="password" class="form-control" name="pin_code" placeholder="4-digits Pin Code">
						<legend></legend>
						<button class="btn btn-primary btn-block" id="btn-pin-code" type="button" data-dismiss="modal">
							ENTER
						</button>
					</div>
				</div>
			</div>
		</div>

		{% if flash.message %}
		{% set alert_status = (flash.message_status == true) ? "success" : "error" %}
		{% set alert_title = (flash.message_status == true) ? "Success" : "Ooops..." %}
		<script>
			toastr.options = {
				"closeButton" : true,
				"debug" : false,
				"newestOnTop" : true,
				"progressBar" : true,
				"positionClass" : "toast-top-right",
				"preventDuplicates" : false,
				"onclick" : onClickToastrHandler,
				"showDuration" : "300",
				"hideDuration" : "1000",
				"timeOut" : "8000",
				"extendedTimeOut" : "1000",
				"showEasing" : "swing",
				"hideEasing" : "linear",
				"showMethod" : "fadeIn",
				"hideMethod" : "fadeOut"
			};
			toastr["{{alert_status}}"]("{{flash.message}}", "{{alert_title}}");
			function onClickToastrHandler() {
				if ("{{flash.message_url}}" !== undefined || "{{flash.message_url}}" !== null) {
					window.location.href = "{{flash.message_url}}";
				}
			}
		</script>
		{% endif %}

		<script>
			function onVerifyPincode(_module, callback) {
				$("#pin-code").modal('show');
				$(document).on('click', "#btn-pin-code", function(event) {
					var that = this;
					var e = event;
					var pinCode = $("[name=pin_code]").val();
					var _url = "{{baseUrl()}}/api/verify/pincode/" + pinCode;
					$.get(_url, function(response) {
						// console.log("response", response);
						if (response) {
							callback(true, _module);
						} else {
							$("#pin-code").modal('hide');
							callback(false, _module);
						}
					}).fail(function(error) {
						// console.log("error", error);
						$("#pin-code").modal('hide');
						callback(false, _module);
					});
					$(this).unbind(event);
				});
			}

			$(document).on('hidden.bs.modal', '#pin-code', function() {
				$("[name=pin_code]").val("");
			});

			$("[name=pin_code]").on('input', function() {
				if (this.value.length == 5) {
					this.value = this.value.slice(0, this.maxLength);
				}
			});
		</script>
	</body>
</html>