{% extends 'admin/index.twig' %}
{% block content %}

<!-- DataTables -->
<link href="{{assetUrl}}moltran/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

<div class="container">

	{% if flash.message %}
	{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
	<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ flash.message }}
	</div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Restaurant List</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<table id="datatable" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Resto Name</th>
										<th>Description</th>
										<th>Cuisine Category</th>
										<th>Cuisine Type</th>
										<th>Owner Name</th>
										<th>Address</th>
										<th>Contact No.</th>
										<th>Date/Time</th>
									</tr>
								</thead>

								<tbody>
									{% for restaurant in restaurants %}
									<tr>
										<td><a href="#" title="View Restaurant Details">{{ restaurant.resto_name }}</a></td>
										<td>{{ restaurant.description }}</td>
										<td>{{ restaurant.cuisine }}</td>
										<td>{{ restaurant.type }}</td>
										<td>{{ restaurant.owner_name }}</td>
										<td>{{ restaurant.address }}</td>
										<td>{{ restaurant.contact_no }}</td>
										<td>{{ restaurant.created_at|date('M d, Y h:i a') }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End Row -->

</div>
<!-- end container -->

<!-- Datatables-->
<script src="{{assetUrl}}moltran/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.scroller.min.js"></script>

<!-- Datatable init js -->
<script src="{{assetUrl}}moltran/assets/pages/datatables.init.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#datatable').dataTable();
	});
	TableManageButtons.init(); 
</script>

{% endblock %}
