{% extends 'admin/index.twig' %}
{% block content %}

<!--venobox lightbox-->
<link rel="stylesheet" href="{{assetUrl}}moltran/assets/plugins/magnific-popup/dist/magnific-popup.css">

<div class="container">

	{% if flash.message %}
	{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
	<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ flash.message }}
	</div>
	{% endif %}

	<!-- Page-Title -->
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group pull-right">
				<a href="/admin/restaurants/view/pending_approval" class="btn btn-primary waves-effect waves-light"> Back <span class="m-l-5"></span> </a>
				<form method="post" action="{{ urlFor('admin_approve_requirements') }}" id="form-approve" style="display: -webkit-box;">
					<input type="hidden" name="restaurant_id" value="{{ restaurant.id }}" />
					<button type="button" class="btn btn-success waves-effect waves-light" id="approve_requirements">
						Approve Requirements <span class="m-l-5"></span>
					</button>
				</form>
			</div>
			<h4 class="page-title">Document Requirements of {{restaurant.resto_name}}</h4>
		</div>
	</div>

	<div class="row port">
		<div class="portfolioContainer">
			<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
				<div class="gal-detail thumb">
					<a href="{{baseUrl ~ requirements.BrgyBusiness }}" class="image-popup" title="Screenshot-1"> <img src="{{baseUrl ~ requirements.BrgyBusiness }}" class="thumb-img" alt="work-thumbnail"> </a>
					<h4>Barangay Business Permit</h4>
				</div>
			</div>

			<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
				<div class="gal-detail thumb">
					<a href="{{baseUrl ~ requirements.zoning }}" class="image-popup" title="Screenshot-1"> <img src="{{baseUrl ~ requirements.zoning }}" class="thumb-img" alt="work-thumbnail"> </a>
					<h4>Zoning Clearance</h4>
				</div>
			</div>

			<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
				<div class="gal-detail thumb">
					<a href="{{baseUrl ~ requirements.occupancy }}" class="image-popup" title="Screenshot-1"> <img src="{{baseUrl ~ requirements.occupancy }}" class="thumb-img" alt="work-thumbnail"> </a>
					<h4>Occupancy Clearance</h4>
				</div>
			</div>

			<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
				<div class="gal-detail thumb">
					<a href="{{baseUrl ~ requirements.FireSafety }}" class="image-popup" title="Screenshot-1"> <img src="{{baseUrl ~ requirements.FireSafety }}" class="thumb-img" alt="work-thumbnail"> </a>
					<h4>Fire Safety Inspection Certificate</h4>
				</div>
			</div>

			<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
				<div class="gal-detail thumb">
					<a href="{{baseUrl ~ requirements.CTC }}" class="image-popup" title="Screenshot-1"> <img src="{{baseUrl ~ requirements.CTC }}" class="thumb-img" alt="work-thumbnail"> </a>
					<h4>CTC(Cedula)</h4>
				</div>
			</div>

			<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
				<div class="gal-detail thumb">
					<a href="{{baseUrl ~ requirements.Sanitary }}" class="image-popup" title="Screenshot-1"> <img src="{{baseUrl ~ requirements.Sanitary }}" class="thumb-img" alt="work-thumbnail"> </a>
					<h4>Sanitary/Health Clearance</h4>
				</div>
			</div>

			<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
				<div class="gal-detail thumb">
					<a href="{{baseUrl ~ requirements.DTI }}" class="image-popup" title="Screenshot-1"> <img src="{{baseUrl ~ requirements.DTI }}" class="thumb-img" alt="work-thumbnail"> </a>
					<h4>DTI Certificate/SEC Certificate/CDA</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- End row -->

</div>
<!-- end container -->

<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/isotope/dist/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

<script type="text/javascript">
	$(window).load(function() {
		var $container = $('.portfolioContainer');
		$container.isotope({
			filter : '*',
			animationOptions : {
				duration : 750,
				easing : 'linear',
				queue : false
			}
		});

		$('.portfolioFilter a').click(function() {
			$('.portfolioFilter .current').removeClass('current');
			$(this).addClass('current');

			var selector = $(this).attr('data-filter');
			$container.isotope({
				filter : selector,
				animationOptions : {
					duration : 750,
					easing : 'linear',
					queue : false
				}
			});
			return false;
		});
	});
	$(document).ready(function() {
		$('.image-popup').magnificPopup({
			type : 'image',
			closeOnContentClick : true,
			mainClass : 'mfp-fade',
			gallery : {
				enabled : true,
				navigateByImgClick : true,
				preload : [0, 1] // Will preload 0 - before current, and 1 after the current image
			}
		});
	}); 
</script>

<script>
	//Warning Message
	$('#approve_requirements').click(function() {
		swal({
			title : "Are you sure do you want to approve this restaurant?",
			text : "This will activate the restaurant in the system.",
			type : "warning",
			showCancelButton : true,
			confirmButtonColor : "#DD6B55",
			confirmButtonText : "Yes, Approve it!",
			closeOnConfirm : false
		}, function(isConfirm) {
			if (isConfirm) {
				$("#form-approve").submit();
			}
		});
	}); 
</script>

{% endblock %}
