{% extends 'admin/index.twig' %}
{% block content %}

<!-- DataTables -->
<link href="{{assetUrl}}moltran/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

<div class="container">

	{% if flash.message %}
	{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
	<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ flash.message }}
	</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><span id="lbl-menu">ADD</span> CATEGORY TYPE</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" method="post" action="{{ urlFor('set_category_type') }}" enctype="multipart/form-data">
						<input type="hidden" name="id" />
						<div class="form-group">
							<label class="col-md-2 control-label">Name</label>
							<div class="col-md-10">
								<input type="text" name="name" class="form-control" autofocus>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Description</label>
							<div class="col-md-10">
								<input type="text" name="description" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Category Icon</label>
							<div class="col-md-10">
								<input type="file" name="cat_icon" id="cat-icon-file" class="form-control">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label"></label>
							<div class="col-md-10">
								<img id="cat-icon" style="width: 100px; height: auto;" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label"></label>
							<div class="col-md-10">
								<button type="submit" class="btn btn-primary waves-effect waves-light m-b-5" id="btn-save">
									Save
								</button>
								<button type="button" class="btn btn-primary waves-effect waves-light m-b-5" onclick="onEditHide()" id="btn-cancel" style="display: none;">
									Cancel
								</button>
							</div>
						</div>
					</form>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>
		<!-- col -->
	</div>
	<!-- End row -->

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Category Type List</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<table id="datatable" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Id</th>
										<th>Icon</th>
										<th>Name</th>
										<th>Description</th>
										<th>Created_at</th>
										<th>Updated_at</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for category_type in category_types %}
									<tr>
										<td>{{ category_type.id }}</td>
										<td>
											{% if(category_type.icon_path|length > 0) %}
											<img src="/{{ category_type.icon_path }}" style="width: 40px; height: auto;" />
											{% endif %}
										</td>
										<td>{{ category_type.name }}</td>
										<td>{{ category_type.description }}</td>
										<td>{{ category_type.created_at|date('M d, Y h:i a') }}</td>
										<td>{{ category_type.updated_at|date('M d, Y h:i a') }}</td>
										<td><a href="#" onclick="onEdit('{{ category_type.id }}', '{{ category_type.name }}', '{{ category_type.description }}', '{{ category_type.icon_path }}')">Edit</a></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Row -->
</div>
<!-- end container -->

<!-- Datatables-->
<script src="{{assetUrl}}moltran/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.scroller.min.js"></script>

<!-- Datatable init js -->
<script src="{{assetUrl}}moltran/assets/pages/datatables.init.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#datatable').dataTable();

		$("#cat-icon-file").change(function() {
			previewQuestionImages(this);
		});
	});
	TableManageButtons.init(); 
</script>

<script>
	function onEdit(id, name, description, icon_path) {
		$("[name=id]").val(id);
		$("[name=name]").val(name);
		$("[name=description]").val(description);
		$("#btn-save").text("Update");
		$("#lbl-menu").text("EDIT");
		
		$("#cat-icon").attr("src", "/" + icon_path);
		
		$("#btn-cancel").show();
	}

	function onEditHide() {
		$("[name=id]").val(null);
		$("[name=name]").val(null);
		$("[name=description]").val(null);
		$("#btn-save").text("Save");
		$("#lbl-menu").text("ADD");
		
		$("#cat-icon").attr("src", null);
		
		$("#btn-cancel").hide();
	}

	function previewQuestionImages(input) {
		var reader = new FileReader();
		reader.onload = function(e) {
			$("#cat-icon").attr("src", e.target.result);
		};
		reader.readAsDataURL(input.files[0]);
	}
</script>

{% endblock %}
