{% extends 'member/index.twig' %}
{% block content %}
<!-- Main content -->
<section class="content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-12">
				<div class="view-header">
					{#
					<div class="pull-right text-right" style="line-height: 14px">
						<small>UI Elements
							<br>
							General
							<br>
							<span class="c-white">Tabs</span></small>
					</div>
					#}
					<div class="header-icon">
						<i class="pe-7s-users"></i>
					</div>
					<div class="header-title">
						<h3>{{title}}</h3>
						<small> User Profile </small>
					</div>
				</div>
				<hr>
			</div>
		</div>

		<div class="panel panel-filled">
			<h4>Direct Referral Link</h4>
			<div class="panel-body h-200">
				<div id="qr_userprofile"></div>
				<p>
					<button class="btn btn-primary" onClick="copySelectedText('sponsor_qr');">
						Copy to Clipboard
					</button>
				</p>
				<p>
					<h3 id="sponsor_qr">{{baseUrl()}}/registration/{{user.username}}</h3>
				</p>
			</div>
		</div>

		<div class="panel panel-filled">
			<div class="panel-body h-200">
				<!-- ACCOUNT DETAILS -->
				<table class="table fixed-layout">
					<tbody>
						<tr class="act-tbl-head">
							<th colspan="2">PROFILE DETAILS</th>
						</tr>
						<tr>
							<td>Reference ID</td>
							<th>{{ user.ref_id }} </th>
						</tr>
						<tr>
							<td>Username</td>
							<th>{{ user.username }} </th>
						</tr>
						<tr>
							<td>Full Name</td>
							<th>{{ user.first_name }} </th>
						</tr>
						<tr>
							<td>Email Address</td>
							<th>{{ user.email }}</th>
						</tr>
						<tr>
							<td>Associated Admin Bitcoin Wallet Address</td>
							<th>
								<p>Package A - {{ associated_wallets.package_A }}</p>
								<p>Package B - {{ associated_wallets.package_B }}</p>
								<p>Package C - {{ associated_wallets.package_C }}</p>
								<p>Package D - {{ associated_wallets.package_D }}</p>
							</th>
						</tr>
						<tr>
							<td>External Bitcoin Wallet Address</td>
							<th>{{ user.external_bitcoin_address }}</th>
						</tr>
						<tr>
							<td>Registration Date</td>
							<th>{{ user.created_at|date('M d, Y h:m a') }}</th>
						</tr>
						<tr>
							<td>Direct Referral/Sponsor</td>
							<th>{{ getDirect(user.id).username }}</th>
						</tr>
					</tbody>
				</table>
			</div><!-- /.box-body -->
		</div>
	</div>

	<div class="panel panel-filled">
		<div class="panel-body h-200">
			<div class="panel-heading">
				<div class="panel-tools">
					<a class="showhide"><i class="fa fa-chevron-up"></i></a>
				</div>
				UPDATE PROFILE
			</div>
			<form method="post" action="{{ urlFor('update_profile') }}" id="update-account-form">
				<div class="panel-body internal-panel">
					<div class="box-body table-responsive">
						<input type="hidden" class="form-control" name="user_id" value="{{user.id}}"/>
						<table class="table fixed-layout">
							<tbody>
								<tr>
									<td class="activation-label">Username</td>
									<th><label style="font-size: 19px; color: yellow;">{{ user.username }}</label></th>
								</tr>
								<tr>
									<td class="activation-label">Full Name</td>
									<th>
									<input type="text" class="form-control" value="{{ user.first_name }}" name="first_name">
									</th>
								</tr>
								<tr class="dash-row">
									<td class="activation-label">Email Address</td>
									<th>
									<input type="email" class="form-control" value="{{ user.email }}" name="email">
									</th>
								</tr>
								<tr class="dash-row">
									<td class="activation-label">External Bitcoin Wallet Address</td>
									<th>
									<input type="text" class="form-control" value="{{ user.external_bitcoin_address }}" name="external_bitcoin_address">
									</th>
								</tr>
								<tr class="dash-row">
									<td></td>
									<th>
									<button type="submit" class="btn btn-success">
										Save changes
									</button></th>
								</tr>
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-filled">
		<div class="panel-body h-200">
			<div class="panel-heading">
				<div class="panel-tools">
					<a class="showhide"><i class="fa fa-chevron-up"></i></a>
				</div>
				CHANGE PASSWORD
			</div>
			<form method="post" action="{{ urlFor('set_current_password') }}" id="change-password-form">
				<div class="panel-body internal-panel">
					<div class="box-body table-responsive">
						<table class="table fixed-layout">
							<tbody>
								<tr>
									<td class="activation-label">Current Password</td>
									<td>
									<input type="password" class="form-control" placeholder="****" name="current_password">
									</td>
								</tr>
								<tr>
									<td class="activation-label">New Password</td>
									<td>
									<input type="password" class="form-control" placeholder="****" name="new_password" id="password">
									</td>
								</tr>
								<tr>
									<td class="activation-label">Confirm Password</td>
									<td>
									<input type="password" class="form-control" placeholder="****" name="confirm">
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
									<button type="submit" class="btn btn-success">
										Save Password
									</button></td>
								</tr>
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div>
			</form>
		</div>
	</div>
	
	<div class="panel panel-filled">
		<div class="panel-body h-200">
			<div class="panel-heading">
				<div class="panel-tools">
					<a class="showhide"><i class="fa fa-chevron-up"></i></a>
				</div>
				CHANGE 4-DIGITS PIN CODE
			</div>
			<div class="panel-body internal-panel">
				<div class="box-body table-responsive">
					<table class="table fixed-layout">
						<tbody>
							<form method="post" action="{{ urlFor('change_pincode') }}">
								<tr>
									<td class="activation-label">Current Pincode</td>
									<td>
									<input type="password" class="form-control" placeholder="****" name="current_pincode">
									</td>
								</tr>
								<tr>
									<td class="activation-label">New Pincode</td>
									<td>
									<input type="password" class="form-control" placeholder="****" name="new_pincode">
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
									<button type="submit" class="btn btn-success">
										Save Password
									</button></td>
								</tr>
							</form>
							<form method="post" action="{{ urlFor('reset_pincode') }}" id="reset-pincode">
								<tr>
									<td width="400px">Reset Pin code
									<p>
										<small>(if you forgot your current pincode, you can reset your pin code and your new pin code will be send to your email address.)</small>
									</p></td>
									<td>
									<br/>
									<button type="button" onclick="onresetpincode()" class="btn btn-primary">
										Reset Pin Code
									</button></td>
								</tr>
							</form>
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(function() {
		$('#qr_userprofile').qrcode({
			width : 180,
			height : 180,
			text : $("#base_url").val() + "/registration/{{user.username}}"
		});

		$("#update-account-form").validate({
			rules : {
				first_name : {
					required : true
				},
				middle_name : {
					required : true
				},
				last_name : {
					required : true
				},
				email : {
					required : true,
					email : true
				},
				external_bitcoin_address : {
					required : true
				}
			},
			messages : {
				first_name : {
					required : "Please enter your first name"
				},
				middle_name : {
					required : "Please enter your middle name"
				},
				last_name : {
					required : "Please enter your last name"
				},
				email : {
					required : "Please enter your email address"
				},
				external_bitcoin_address : {
					required : "Please enter your external bitcoin wallet address"
				}
			},
			onfocusout : false,
			submitHandler : function(form) {
				onVerifyPincode("update_profile", function(isValid, module) {
					if (module === "update_profile") {
						if (isValid) {
							submitForm(form, "term-submit");
						} else {
							$.notify('Invalid Pin Code!', {
								className : 'error',
								position : 'top center'
							});
						}
					}
				});
			}
		});

		$("#change-password-form").validate({
			rules : {
				current_password : {
					required : true
				},
				new_password : {
					required : true
				},
				confirm : {
					required : true,
					equalTo : "#password"
				}
			},
			messages : {
				current_password : {
					required : "Please enter current password"
				},
				new_password : {
					required : "Please enter new password"
				},
				confirm : {
					required : "Please confirm your password",
					equalTo : "Password did not match"
				}
			},
			onfocusout : false,
			submitHandler : function(form) {
				onVerifyPincode("change_curr_password", function(isValid, module) {
					if (module === "change_curr_password") {
						if (isValid) {
							submitForm(form, "term-submit");
						} else {
							$.notify('Invalid Pin Code!', {
								className : 'error',
								position : 'top center'
							});
						}
					}
				});
			}
		});
	});

	function copySelectedText(id) {
		copyToClipboard(document.getElementById(id));
	}

	function copyToClipboard(elem) {
		// create hidden text element, if it doesn't already exist
		var targetId = "_hiddenCopyText_";
		var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
		var origSelectionStart, origSelectionEnd;
		if (isInput) {
			// can just use the original source element for the selection and copy
			target = elem;
			origSelectionStart = elem.selectionStart;
			origSelectionEnd = elem.selectionEnd;
		} else {
			// must use a temporary form element for the selection and copy
			target = document.getElementById(targetId);
			if (!target) {
				var target = document.createElement("textarea");
				target.style.position = "absolute";
				target.style.left = "-9999px";
				target.style.top = "0";
				target.id = targetId;
				document.body.appendChild(target);
			}
			target.textContent = elem.textContent;
		}
		// select the content
		var currentFocus = document.activeElement;
		target.focus();
		target.setSelectionRange(0, target.value.length);

		// copy the selection
		var succeed;
		try {
			succeed = document.execCommand("copy");
		} catch(e) {
			succeed = false;
		}
		// restore original focus
		if (currentFocus && typeof currentFocus.focus === "function") {
			currentFocus.focus();
		}

		if (isInput) {
			// restore prior selection
			elem.setSelectionRange(origSelectionStart, origSelectionEnd);
		} else {
			// clear temporary content
			target.textContent = "";
		}
		return succeed;
	}
	
	function onresetpincode() {
		$.confirm({
			text : "Are you sure you want to reset your pin code?",
			confirm : function() {
				$("#reset-pincode").submit();
			},
			cancel : function() {
			}
		});
	}
</script>
{% endblock %}
