{% extends 'master.twig' %}
{% block body %}

<!-- Wrapper-->
<div class="wrapper">

	<div id="header">
		<br>
		<div id="login-page">
			<div class="container">

				<form class="form-login" action="{{ urlFor('dologin') }}" method="post">
					<h2 class="form-login-heading">sign in now</h2>

					{% if flash.message %}
					{% set status = (flash.message_status == true) ? "success" : "danger" %}
					<div class="flash-div">
						<div class="alert alert-{{status}} alert-dismissable">
							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
								×
							</button>
							{{ flash.message }}
							<b>{{ flash.def_password }}</b>
						</div>
					</div>
					{% endif %}

					<div id="error">
						Invalid Username or Password
					</div>
					<div class="login-wrap">
						<div class="form-group input-group">
							<span class="input-group-addon"><i class="fa fa-tag"></i></span>
							<input style="color: black;" type="text" class="form-control" name="username" placeholder="Your Username " id="txtusername"/>
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input style="color: black;" type="password" class="form-control" name="password" placeholder="Your Password" id="txtpassword"/>
						</div>
						<br>

						<a data-toggle="modal" href="login.html#myModal" id="forgotP"> <label class="checkbox"> Forgot Password? </label></a>
						<button class="btn btn-theme btn-block"  type="submit" id="login">
							<i class="fa fa-check"></i>Login
						</button>
						<hr>

						<div class="registration">
							<p>
								Don't have an account yet?
								<br>
								<a class="acc" href="/registration/restaurant"> Signup as new Food Establishment </a>
							</p>
						</div>

					</div>
				</form>

				<!-- Modal -->
				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
					<div class="modal-dialog" id="myModalDialog" >
						<div class="modal-content" style="background-color: transparent !important;">
							<div class="modal-header" id="myModalHeader">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									X
								</button>
								<h4 class="modal-title">Forgot Password?</h4>
							</div>
							<div class="modal-body" style="background-color: white !important;">
								<p>
									Enter your e-mail address below to reset your password.
								</p>
								<input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

							</div>
							<div class="modal-footer" id="myModalFooter">
								<button data-dismiss="modal" class="btn btn-default" type="button">
									Cancel
								</button>
								<button class="btn btn-theme" type="button">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- modal -->
			</div>
		</div>

	</div>
	<!-- /#header -->

	<footer id="footer" class="dark-wrapper">
		<section class="ss-style-top"></section>

		<!-- /.container -->
	</footer>

</div>
<!-- End wrapper-->

<script>$("body").addClass('blank');</script>
<script type="text/javascript" src="{{assetUrl}}js/jquery.backstretch.js"></script>

<script>
	// To attach Backstrech as the body's background
	$.backstretch(['/assets/images/parallax2.jpg', 
					'/assets/images/bg1.jpg', 
					'/assets/images/bg3.jpg',
					'/assets/images/bg4.jpg',
					'/assets/images/bg5.jpg',
					'/assets/images/bg6.jpg',
					'/assets/images/bg7.jpg',
					'/assets/images/bg8.jpg',
					'/assets/images/bg2.jpg'], {
		duration : 3000
	}); 
</script>

{% endblock %}
