{% extends 'master.twig' %}
{% block body %}

<link href="{{assetUrl}}moltran/assets/plugins/tagsinput/jquery.tagsinput.css" rel="stylesheet">

<style>
	#map {
		height: 400px;
		width: 100%;
	}
</style>

<div class="wrapper">
	<!-- Main content-->
	<div id="header" style="background-image: url('/assets/images/parallax2.jpg');">
		<div class="right_col" role="main">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">

					<div class="title_left">
						<br>
						<center>
							<h3 id="resReg">Food Establishment Registration</h3>
						</center>
					</div>

					{% if flash.message %}
					{% set status = (flash.message_status == true) ? "success" : "danger" %}
					<div class="flash-div">
						<div class="alert alert-{{status}} alert-dismissable">
							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
								×
							</button>
							{{ flash.message }}
							<b>{{ flash.def_password }}</b>
						</div>
					</div>
					{% endif %}

					<div class="x_content">
						<form method="post" action="{{ urlFor('registration_management') }}" enctype="multipart/form-data" class="form-horizontal form-label-left">

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cname">Food Establishment Name <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="company_name" placeholder="e.g U - Decide" required="required" type="text">
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cname">Food Establishment Description <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="description" placeholder="e.g U - Decide" required="required" type="text">
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cname">Owner's Name <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="owners_name" placeholder="e.g Lee Jong Suk" required="required" type="text">
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cname">Category Type <span class="required">*</span>
									<br />
									<small>(multiple select)</small></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select name="category_types[]" multiple class="form-control col-md-7 col-xs-12" required>
										{% for category_type in category_types %}
										<option value="{{ category_type.name }}"> {{ category_type.name }} </option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cname">Category Cuisine <span class="required">*</span>
									<br />
									<small>(multiple select)</small></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select name="category_cuisines[]" multiple class="form-control col-md-7 col-xs-12" required>
										{% for category_cuisine in category_cuisines %}
										<option value="{{ category_cuisine.name }}"> {{ category_cuisine.name }} </option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cname">Category Info <span class="required">*</span>
									<br />
									<small>(multiple select)</small></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select name="category_infos[]" multiple class="form-control col-md-7 col-xs-12" required>
										{% for category_info in category_infos %}
										<option value="{{ category_info.name }}"> {{ category_info.name }} </option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="cname">Additional Info <span class="required">*</span> </label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input name="additional_infos" id="tags" class="form-control" required>
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Store Hours">Store Hours <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="store_hours" placeholder="8:00 AM - 10:00 PM" required="required" type="text" id="txtaddress">
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Address">Address <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="address" placeholder="# Street, Municipality, Bataan" required="required" type="text" id="txtaddress">
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Phone Number <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="tel"  name="phone_number" max="11" maxlength="11" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" id="txtcontact_no">
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Max Store Capacity <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="number"  name="max_capacity" required="required" class="form-control col-md-7 col-xs-12">
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="email"  name="email" required="required" class="form-control col-md-7 col-xs-12" placeholder="e.g U-Decide@yahoo.com" id="txtemail">
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">LatLon (GeoMap) <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="lat" required="required" class="form-control col-md-6 col-xs-6" placeholder="latitude">
									<input type="text" name="lon" required="required" class="form-control col-md-6 col-xs-6" placeholder="longitude">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Find LatLon on Map</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div id="map"></div>
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="has_delivery">Has Delivery <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select name="has_delivery" class="form-control">
										<option value="0">No</option>
										<option value="1">Yes</option>
									</select>
								</div>
							</div>

							<hr>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Username">Username <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="username" required="required" type="text" id="txtusername">
								</div>
							</div>

							<div class="item form-group">
								<label for="password" class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input  type="password" name="password" maxlength="8" max="8" data-validate-length="6,8" class="form-control col-md-7 col-xs-12" required="required" id="txtpassword">
								</div>
							</div>

							<div class="item form-group">
								<label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input  type="password" name="confirm_password" maxlength="8" max="8" data-validate-linked="password" class="form-control col-md-7 col-xs-12" required="required" id="txtconpassword">
								</div>
							</div>

							<hr>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="dp">SCANNED PHOTOS OF THE FOLLOWING:</label>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="dp">Barangay Business Clearance <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="file"  required="required" name="barangay_clearance" class="form-control col-md-7 col-xs-12" data-validate-length="6,8" id="txtBrgyBusiness">

								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="dp">Zoning Clearance <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="file"  required="required" name="zoning_clearance" class="form-control col-md-7 col-xs-12" data-validate-length="6,8" id="txtzoning">

								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="dp">Occupancy Clearance <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="file"  required="required" name="occupancy_clearance" class="form-control col-md-7 col-xs-12" data-validate-length="6,8" id="txtoccupancy">

								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="dp">Fire Safety Inspection Certificate <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="file"  required="required" name="fire_clearance" class="form-control col-md-7 col-xs-12" data-validate-length="6,8" id="txtFireSafety">

								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="dp">CTC(Cedula) <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="file"  required="required" name="cedula" class="form-control col-md-7 col-xs-12" data-validate-length="6,8" id="txtCTC">

								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="dp">Sanitary/Health Clearance <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="file"  required="required" name="health_clearance" class="form-control col-md-7 col-xs-12" data-validate-length="6,8" id="txtSanitary">

								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="dp">DTI Certificate/SEC Certificate/CDA <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="file"  required="required" name="dti" class="form-control col-md-7 col-xs-12" data-validate-length="6,8" id="txtDTI">

								</div>
							</div>

							<div class="ln_solid"></div>

							<div class="form-group">
								<center>
									<div class="col-md-12">
										<button id="send" class="btn btn-primary" type="submit">
											Submit
										</button>
										<a href="/" class="btn btn-dark">Cancel</a>
									</div>
								</center>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- End main content-->
</div>

<script type="text/javascript" src="{{assetUrl}}js/jquery.backstretch.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<script>
	// To attach Backstrech as the body's background
	$.backstretch('/assets/images/bg_reg.jpg');
	$('#tags').tagsInput({
		width : 'auto'
	}); 
</script>

<script>
	function initMap() {
		var latitude = 14.676126;
		var longitude = 120.535825;
		var uluru = {
			lat : parseFloat(latitude),
			lng : parseFloat(longitude)
		};
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom : 15,
			center : uluru
		});
		var marker = new google.maps.Marker({
			position : uluru,
			map : map
		});

		google.maps.event.addListener(map, 'click', function(e) {
			// console.log(e.latLng.lng(), e.latLng.lat());
			$("input[name=lat]").val(e.latLng.lat());
			$("input[name=lon]").val(e.latLng.lng());
		});
	}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlRwoFG3TlR5q_POSBpA_yLw4s2XogXhE&callback=initMap"></script>

{% endblock %}
