{% extends 'restaurant/index.twig' %}
{% block content %}

<!-- DataTables -->
<link href="{{assetUrl}}moltran/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

<div class="container">

	{% if flash.message %}
	{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
	<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ flash.message }}
	</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Reservations</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<table id="datatable" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>#</th>
										<th>Username</th>
										<th>Full Name</th>
										<th>Number of Seats</th>
										<th>Date Reservation</th>
										<th>Additional Request</th>
										<th>Remarks</th>
										<th>Status</th>
										<th>Date/Time</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for reservation in reservations %}
									<tr>
										<td>{{ reservation.id }}</td>
										<td>{{ getUserdetails(reservation.user_id).username }}</td>
										<td>{{ getUserdetails(reservation.user_id).name }}</td>
										<td>{{ reservation.num_seat }}</td>
										<td>{{ reservation.reservation_date_formatted }}</td>
										<td>{{ reservation.additional_request }}</td>
										<td>{{ reservation.remarks }}</td>
										<td>{{ reservation.label_status }}</td>
										<td>{{ reservation.created_at_formatted }}</td>
										<td>
											{% if (reservation.status == 0) %}
											<a href="#" onclick="onUpdateReservationModal('{{ reservation.id }}')" class="btn btn-success btn-xs">Confirm Dining</a>
											<a href="#" onclick="onCancelReservationModal('{{ reservation.id }}')" class="btn btn-danger btn-xs">Cancel</a>
											{% endif %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>
		<!-- col -->
	</div>
	<!-- End row -->

	<!-- modal start -->
	<div class="modal fade col-xs-12" id="update_reservation" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="modal-title">Update Reservation</h4>
				</div>
				<form method="post" action="{{ urlFor('update_reservation') }}" id="form-sc">
					<input type="hidden" name="reservation_id" />
					<div class="modal-body">

						<div class="form-group">
							<label class="form-label" for="field-1s">Confirmation Code</label>
							<span class="desc">e.g. "X31E4"</span>
							<div class="controls">
								<input type="text" name="confirmation_code" class="form-control" id="field-1s" required>
							</div>
						</div>
						
						<div class="form-group">
							<label class="form-label">Remarks</label>
							<div class="controls">
								<textarea name="remarks" class="form-control"></textarea>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-default" type="button">
							Close
						</button>
						<button class="btn btn-success" type="submit">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- modal end -->
	
	<!-- modal start -->
	<div class="modal fade col-xs-12" id="cancel_reservation" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="modal-title">Cancel Reservation</h4>
				</div>
				<form method="post" action="{{ urlFor('cancel_reservation') }}" id="form-sc">
					<input type="hidden" name="reservation_id" />
					<div class="modal-body">

						<div class="form-group">
							<label class="form-label">Remarks</label>
							<div class="controls">
								<textarea name="remarks" class="form-control"></textarea>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-default" type="button">
							Close
						</button>
						<button class="btn btn-success" type="submit">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- modal end -->

</div>
<!-- end container -->

<!-- Datatables-->
<script src="{{assetUrl}}moltran/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.scroller.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#datatable').dataTable();
	}); 
	
	function onUpdateReservationModal(reservation_id) {
		$("input[name=reservation_id]").val(reservation_id);
		$("#update_reservation").modal("show");
	}
	
	function onCancelReservationModal(reservation_id) {
		$("input[name=reservation_id]").val(reservation_id);
		$("#cancel_reservation").modal("show");
	}
</script>

{% endblock %}
