{% extends 'restaurant/index.twig' %}
{% block content %}

<div class="container">

	{% if flash.message %}
	{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
	<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ flash.message }}
	</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="/restaurant/advance_order" class="pull-right" >Back</a>
					<h3 class="panel-title">ORDER #: {{ ref_code }}</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" action="{{ urlFor('update_delivery') }}" method="post">
						<input type="hidden" name="delivery_id" value="{{ delivery_details.id }}" />
						<div class="form-group">
							<label class="col-md-2 control-label">Delivery Tracking Number</label>
							<div class="col-md-10">
								<input type="text" class="form-control" readonly="readonly" value="{{ delivery_details.ref_code }}">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Name</label>
							<div class="col-md-10">
								<input type="text" class="form-control" readonly="readonly" value="{{ getUserdetails(delivery_details.foodie_id).name }}">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Address</label>
							<div class="col-md-10">
								<input type="text" class="form-control" readonly="readonly" value="{{ delivery_details.address }}">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Contact Number</label>
							<div class="col-md-10">
								<input type="text" class="form-control" readonly="readonly" value="{{ delivery_details.contact_number }}">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Delivery Person Name</label>
							<div class="col-md-10">
								<input type="text" class="form-control" name="delivery_name" required value="{{ delivery_details.delivery_name }}" autofocus>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Status</label>
							<div class="col-md-10">
								<select name="delivery_status" class="form-control" required>
									<option value="0">Still On Queue</option>
									<option value="1">Food is on the way</option>
									<option value="2">Order is being prepared</option>
									<option value="3">Food delivered</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Remarks</label>
							<div class="col-md-10">
								<input type="text" class="form-control" name="remarks" value="{{ delivery_details.remarks }}">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label"></label>
							<div class="col-md-10">
								<button type="submit" class="btn btn-success">
									Update Delivery details
								</button>
							</div>
						</div>
					</form>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>

		<div class="col-md-12">
			<section id="cd-timeline" class="cd-container">
				{% for delivery_log in delivery_logs %}
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-success">
						<i class="fa fa-tag"></i>
					</div>
					<!-- cd-timeline-img -->
					<div class="cd-timeline-content">
						<h3>{{delivery_log.status}}</h3>
						<p>
							{{delivery_log.remarks}}
						</p>
						<span class="cd-date">{{delivery_log.created_at|date("F m, Y h:i:s A")}}</span>
					</div>
					<!-- cd-timeline-content -->
				</div>
				<!-- cd-timeline-block -->
				{% endfor %}
			</section>
			<!-- cd-timeline -->
		</div>
		<!-- col -->
	</div>
	<!-- End row -->
</div>
<!-- end container -->

{% endblock %}
