{% extends 'restaurant/index.twig' %}
{% block content %}

<!-- DataTables -->
<link href="{{assetUrl}}moltran/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

<div class="container">

	{% if flash.message %}
	{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
	<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ flash.message }}
	</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Pending Advance Orders</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<table id="datatable" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Ref. Code</th>
										<th>Username</th>
										<th>Status</th>
										<th>Order Type</th>
										<th>Action</th>
										<th>Expected Time for Pickup</th>
										<th>Date/Time</th>
										<th>Remarks</th>
									</tr>
								</thead>
								<tbody>
									{% for advance_order in advance_orders %}
									{% set order_type = (advance_order.is_delivery == 0) ? "Pick-Up" : "For Delivery" %}
									{% set status = (advance_order.status == 0) ? "Pending" : ((advance_order.status == 1) ? "Approved" : "Cancelled") %}
									<tr>
										<td><a href="/restaurant/advance_order/details/{{advance_order.ref_code}}" title="View Order Details">{{ advance_order.ref_code }}</a></td>
										<td>{{ getUserdetails(advance_order.user_id).username }}</td>
										<td>{{ status }}</td>
										<td>{{ order_type }}</td>
										<td> {% if(advance_order.is_delivery == 0) %} <a href="#" onclick="onUpdatePickupDetails('{{advance_order.id}}')">Pickup Details</a> {% elseif(advance_order.is_delivery == 1) %} <a href="/restaurant/advance_order/details/delivery/{{advance_order.id}}">Delivery Details</a> {% endif %} </td>
										<td>
											{% if(advance_order.expected_time) %}
											{{ advance_order.expected_time|date('M d, Y h:i a') }}
											{% else %}
											<small>-</small>
											{% endif %}
										</td>
										<td>{{ advance_order.created_at|date('M d, Y h:i a') }}</td>
										<td>{{ advance_order.remarks }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>
		<!-- col -->
	</div>
	<!-- End row -->

	<!-- modal start -->
	<div class="modal fade col-xs-12" id="pickup_details_modal" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="modal-title">Update Pickup Details</h4>
				</div>
				<form method="post" action="{{ urlFor('update_pickup') }}" id="form-sc">
					<input type="hidden" name="ao_id" />
					<div class="modal-body">

						<div class="form-group">
							<label class="form-label">Expected Time for Pickup</label>
							<div class="row">
								<div class="controls col-md-6">
									<input type="date" name="expected_date" class="form-control" value="{{today}}" required>
								</div>
								<div class="controls col-md-6">
									<input type="time" name="expected_time" class="form-control" value="{{time_now}}" required>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="form-label">Remarks</label>
							<div class="controls">
								<textarea name="remarks" class="form-control"></textarea>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-default" type="button">
							Close
						</button>
						<button class="btn btn-success" type="submit">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- modal end -->

</div>
<!-- end container -->

<!-- Datatables-->
<script src="{{assetUrl}}moltran/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.scroller.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#datatable').dataTable();
	});

	function onUpdatePickupDetails(ao_id) {
		$("input[name=ao_id]").val(ao_id);
		$("#pickup_details_modal").modal("show");
	}
</script>

{% endblock %}
