{% extends 'restaurant/index.twig' %}
{% block content %}

<!-- DataTables -->
<link href="{{assetUrl}}moltran/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}moltran/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

<div class="container">

	{% if flash.message %}
	{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
	<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ flash.message }}
	</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="/restaurant/advance_order" class="pull-right" >Back</a>
					<h3 class="panel-title">ORDER #: {{ ref_code }}</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<table id="datatable" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Menu Name</th>
										<th>Description</th>
										<th>Type</th>
										<th>Quantity</th>
										<th>Total Amount</th>
									</tr>
								</thead>

								<tbody>
									{% set total_amount = 0 %}

									{% for advance_order in advance_orders %}

									{% set curr_amount = advance_order.item_count * advance_order.price %}
									{% set total_amount = total_amount + curr_amount %}
									<tr>
										<td>{{ advance_order.food_name }}</td>
										<td>{{ advance_order.description }}</td>
										<td>{{ advance_order.menu_type }}</td>
										<td>{{ advance_order.item_count }}</td>
										<td>{{ curr_amount|number_format(2, '.', ',') }}</td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">TOTAL</td>
										<td></td>
										<td></td>
										<td></td>
										<td style="font-weight: bold;">{{ total_amount|number_format(2, '.', ',') }}</td>
									</tr>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>
											{% if (aorder.status == 0) %}
											<form method="post" action="{{ urlFor('update_order') }}" style="display: inline-block;">
												<input type="hidden" name="status" value="1" />
												<input type="hidden" name="ref_code" value="{{ aorder.ref_code }}" />
												<button class="btn btn-success btn-xs">Approve</button>
											</form>
											<form method="post" action="{{ urlFor('update_order') }}" style="display: inline-block;">
												<input type="hidden" name="status" value="2" />
												<input type="hidden" name="ref_code" value="{{ aorder.ref_code }}" />
												<button class="btn btn-warning btn-xs">Cancel Order</button>
											</form>
											{% elseif(aorder.status == 1) %}
												<small>Approved</small>
											{% elseif(aorder.status == 2) %}
												<small>Cancelled</small>
											{% endif %}
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>
		<!-- col -->
	</div>
	<!-- End row -->
</div>
<!-- end container -->

<!-- Datatables-->
<script src="{{assetUrl}}moltran/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/datatables/dataTables.scroller.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#datatable').dataTable();
	}); 
</script>

{% endblock %}
