{% extends 'restaurant/index.twig' %}
{% block content %}

<!--venobox lightbox-->
<link rel="stylesheet" href="{{assetUrl}}moltran/assets/plugins/magnific-popup/dist/magnific-popup.css">
<link href="{{assetUrl}}moltran/assets/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">
<link href="{{assetUrl}}moltran/assets/plugins/tagsinput/jquery.tagsinput.css" rel="stylesheet">

<style>
	#map {
		height: 400px;
		width: 100%;
	}
</style>

<div class="container">

	{% if flash.message %}
	{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
	<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ flash.message }}
	</div>
	{% endif %}

	<div class="row port">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<h3 class="panel-title">Restaurant Thumbnails</h3>
						</div>
						<div class="col-xs-4">
							<form method="post" action="{{ urlFor('upload_thumbnails') }}" enctype="multipart/form-data" style="display: -webkit-box;">
								<input type="hidden" name="restaurant_id" value="{{ restaurant.id }}" />
								<input name="thumbnails[]" type="file" multiple="multiple" accept="image/*" >
								<button type="submit" class="btn btn-primary">
									Upload
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="portfolioContainer">
					{% for index, thumbnail in thumbnails %}
					<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
						<div class="gal-detail thumb">
							<form action="{{ urlFor('delete_restaurant_thumbnail') }}" method="post">
								<input type="hidden" name="thumbnail_id" value="{{ thumbnail.id }}" />
								<button class="btn btn-danger waves-effect waves-light btn-xs m-b-5 pull-right">
									<i class="md md-clear"></i> remove
								</button>
							</form>
							<a href="{{baseUrl ~ thumbnail.file_path}}" class="image-popup" title="Screenshot-{{index}}"> <img src="{{baseUrl ~ thumbnail.file_path}}" class="thumb-img" alt="work-thumbnail"> </a>
							<!-- <h4>Gallary Image</h4> -->
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- End row -->

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="#" class="pull-right" onclick="enableEdit()">Edit Details</a>
					<h3 class="panel-title">Restaurant Details</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" action="{{ urlFor('edit_restaurant_details') }}" method="post">
						<input type="hidden" name="restaurant_id" value="{{ restaurant.id }}" />
						<div class="form-group">
							<label class="col-md-2 control-label">Restaurant Name</label>
							<div class="col-md-10">
								<input type="text" class="form-control" name="restaurant_name" required readonly="readonly" value="{{ restaurant.resto_name }}">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Owner Name</label>
							<div class="col-md-10">
								<input type="text" class="form-control" name="owner_name" required readonly="readonly" value="{{ restaurant.owner_name }}">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Description</label>
							<div class="col-md-10">
								<input type="text" class="form-control" name="description" required readonly="readonly" value="{{ restaurant.description }}">
							</div>
						</div>

						<div class="form-group" id="lbl-cuisinetype">
							<label class="col-md-2 control-label">Cuisine Type</label>
							<div class="col-md-10">
								<input type="text" class="form-control" readonly="readonly" value="{{ restaurant.type }}">
							</div>
						</div>

						<div class="form-group" id="lbl-cuisine">
							<label class="col-md-2 control-label">Cuisine</label>
							<div class="col-md-10">
								<input type="text" class="form-control" readonly="readonly" value="{{ restaurant.cuisine }}">
							</div>
						</div>

						<div class="form-group" id="lbl-info">
							<label class="col-md-2 control-label">More Info</label>
							<div class="col-md-10">
								<input type="text" class="form-control" readonly="readonly" value="{{ restaurant.more_info }}">
							</div>
						</div>

						<div class="form-group" id="lbl-added-info">
							<label class="col-md-2 control-label">Additional Info</label>
							<div class="col-md-10">
								<input type="text" class="form-control" readonly="readonly" value="{{ restaurant.added_info }}">
							</div>
						</div>

						<div class="form-group" id="edit-category-types" style="display: none;">
							<label class="col-md-2 control-label">Category Types</label>
							<div class="col-md-10">
								<select name="category_types[]" multiple class="form-control col-md-7 col-xs-12" required>
									{% for category_type in category_types %}
									{% set is_selected = (IsCategoryType(restaurant.category_id, category_type.name)) ? "selected" : "" %}
									<option {{is_selected}} value="{{ category_type.name }}"> {{ category_type.name }} </option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="form-group" id="edit-category-cuisines" style="display: none;">
							<label class="col-md-2 control-label">Category Cuisines</label>
							<div class="col-md-10">
								<select name="category_cuisines[]" multiple class="form-control col-md-7 col-xs-12" required>
									{% for category_cuisine in category_cuisines %}
									{% set is_selected = (IsCategoryCuisine(restaurant.category_id, category_cuisine.name)) ? "selected" : "" %}
									<option {{is_selected}} value="{{ category_cuisine.name }}"> {{ category_cuisine.name }} </option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="form-group" id="edit-category-infos" style="display: none;">
							<label class="col-md-2 control-label">Category Info</label>
							<div class="col-md-10">
								<select name="category_infos[]" multiple class="form-control col-md-7 col-xs-12" required>
									{% for category_info in category_infos %}
									{% set is_selected = (IsCategoryInfo(restaurant.category_id, category_info.name)) ? "selected" : "" %}
									<option {{is_selected}} value="{{ category_info.name }}"> {{ category_info.name }} </option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="form-group" id="edit-category-added-infos" style="display: none;">
							<label class="col-md-2 control-label">Category Additional Info</label>
							<div class="col-md-10">
								<input name="additional_infos" id="tags" class="form-control" value="{{ restaurant.added_info }}" required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Store Hours</label>
							<div class="col-md-10">
								<input type="text" class="form-control" name="store_hours" required readonly="readonly" value="{{ restaurant.store_hours }}">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Contact Number</label>
							<div class="col-md-10">
								<input type="text" class="form-control" name="contact_number" required readonly="readonly" value="{{ restaurant.contact_no }}">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Max Store Capacity</label>
							<div class="col-md-10">
								<input type="number" class="form-control" name="max_capacity" required readonly="readonly" value="{{ restaurant.max_capacity }}">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Address</label>
							<div class="col-md-10">
								<input type="text" class="form-control" name="address" required readonly="readonly" value="{{ restaurant.address }}">
							</div>
						</div>

						<div class="form-group" id="edit-latlon" style="display: none;">
							<label class="col-md-2 control-label">LatLon (GeoMap) <span class="required">*</span></label>
							<div class="col-md-10">
								<input type="hidden" name="location_id" value="{{ restaurant.location_id }}" />
								<input type="text" name="lat" required value="{{ restaurant.latitude }}" class="form-control" placeholder="latitude">
								<input type="text" name="lon" required value="{{ restaurant.longitude }}" class="form-control" placeholder="longitude">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Has Delivery</label>
							<div class="col-md-10">
								{% set sel = (restaurant.has_delivery == 1) ? "selected" : "" %}
								<select name="has_delivery" class="form-control">
									<option value="0">No</option>
									<option value="1" {{ sel }}>Yes</option>
								</select>
							</div>
						</div>

						<div class="form-group" id="btn-actions" style="display: none;">
							<div class="col-md-2 control-label"></div>
							<div class="col-md-10">
								<button type="submit" class="btn btn-primary">
									Save
								</button>
								<button type="button" class="btn btn-primary" onclick="disableEdit()">
									Cancel
								</button>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Location (GeoMap)</label>
							<div class="col-md-10">
								<div id="map"></div>
							</div>
						</div>
					</form>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>
		<!-- col -->
	</div>
	<!-- End row -->

	<div class="row port">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Requirements</h3>
				</div>
				<div class="row port">
					<div class="portfolioContainer">
						<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
							<div class="gal-detail thumb">
								<a href="{{baseUrl ~ requirements.BrgyBusiness }}" class="image-popup" title="Barangay Business Permit"> <img src="{{baseUrl ~ requirements.BrgyBusiness }}" class="thumb-img" alt="work-thumbnail"> </a>
								<h4>Barangay Business Permit</h4>
							</div>
						</div>

						<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
							<div class="gal-detail thumb">
								<a href="{{baseUrl ~ requirements.zoning }}" class="image-popup" title="Zoning Clearance"> <img src="{{baseUrl ~ requirements.zoning }}" class="thumb-img" alt="work-thumbnail"> </a>
								<h4>Zoning Clearance</h4>
							</div>
						</div>

						<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
							<div class="gal-detail thumb">
								<a href="{{baseUrl ~ requirements.occupancy }}" class="image-popup" title="Occupancy Clearance"> <img src="{{baseUrl ~ requirements.occupancy }}" class="thumb-img" alt="work-thumbnail"> </a>
								<h4>Occupancy Clearance</h4>
							</div>
						</div>

						<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
							<div class="gal-detail thumb">
								<a href="{{baseUrl ~ requirements.FireSafety }}" class="image-popup" title="Fire Safety Inspection Certificate"> <img src="{{baseUrl ~ requirements.FireSafety }}" class="thumb-img" alt="work-thumbnail"> </a>
								<h4>Fire Safety Inspection Certificate</h4>
							</div>
						</div>

						<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
							<div class="gal-detail thumb">
								<a href="{{baseUrl ~ requirements.CTC }}" class="image-popup" title="CTC(Cedula)"> <img src="{{baseUrl ~ requirements.CTC }}" class="thumb-img" alt="work-thumbnail"> </a>
								<h4>CTC(Cedula)</h4>
							</div>
						</div>

						<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
							<div class="gal-detail thumb">
								<a href="{{baseUrl ~ requirements.Sanitary }}" class="image-popup" title="Sanitary/Health Clearance"> <img src="{{baseUrl ~ requirements.Sanitary }}" class="thumb-img" alt="work-thumbnail"> </a>
								<h4>Sanitary/Health Clearance</h4>
							</div>
						</div>

						<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
							<div class="gal-detail thumb">
								<a href="{{baseUrl ~ requirements.DTI }}" class="image-popup" title="DTI Certificate/SEC Certificate/CDA"> <img src="{{baseUrl ~ requirements.DTI }}" class="thumb-img" alt="work-thumbnail"> </a>
								<h4>DTI Certificate/SEC Certificate/CDA</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End row -->

</div>
<!-- end container -->

<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/isotope/dist/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/dropzone/dist/dropzone.js"></script>
<script src="{{assetUrl}}moltran/assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>

<script type="text/javascript">
	$(window).load(function() {
		var $container = $('.portfolioContainer');
		$container.isotope({
			filter : '*',
			animationOptions : {
				duration : 750,
				easing : 'linear',
				queue : false
			}
		});

		$('.portfolioFilter a').click(function() {
			$('.portfolioFilter .current').removeClass('current');
			$(this).addClass('current');

			var selector = $(this).attr('data-filter');
			$container.isotope({
				filter : selector,
				animationOptions : {
					duration : 750,
					easing : 'linear',
					queue : false
				}
			});
			return false;
		});
	});
	$(document).ready(function() {
		$('.image-popup').magnificPopup({
			type : 'image',
			closeOnContentClick : true,
			mainClass : 'mfp-fade',
			gallery : {
				enabled : true,
				navigateByImgClick : true,
				preload : [0, 1] // Will preload 0 - before current, and 1 after the current image
			}
		});
	});

	$('#tags').tagsInput({
		width : 'auto'
	}); 
</script>

<script>
	function initMap() {
		var latitude = "{{ restaurant.latitude }}";
		var longitude = "{{ restaurant.longitude }}";
		var uluru = {
			lat : parseFloat(latitude),
			lng : parseFloat(longitude)
		};
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom : 15,
			center : uluru
		});
		var marker = new google.maps.Marker({
			position : uluru,
			map : map
		});

		google.maps.event.addListener(map, 'click', function(e) {
			// console.log(e.latLng.lng(), e.latLng.lat());
			$("input[name=lat]").val(e.latLng.lat());
			$("input[name=lon]").val(e.latLng.lng());
		});
	}

	function enableEdit() {
		$("[name=restaurant_name]").removeAttr("readonly");
		$("[name=owner_name]").removeAttr("readonly");
		$("[name=description]").removeAttr("readonly");
		$("#lbl-cuisinetype").hide();
		$("#lbl-cuisine").hide();
		$("#lbl-info").hide();
		$("#lbl-added-info").hide();
		$("[name=store_hours]").removeAttr("readonly");
		$("[name=contact_number]").removeAttr("readonly");
		$("[name=max_capacity]").removeAttr("readonly");
		$("[name=address]").removeAttr("readonly");
		$("#edit-latlon").show();
		$("#btn-actions").show();

		$("#edit-category-types").show();
		$("#edit-category-cuisines").show();
		$("#edit-category-infos").show();
		$("#edit-category-added-infos").show();

		$("[name=restaurant_name]").attr("autofocus", true);
	}

	function disableEdit() {
		$("[name=restaurant_name]").attr("readonly", "readonly");
		$("[name=owner_name]").attr("readonly", "readonly");
		$("[name=description]").attr("readonly", "readonly");
		$("#lbl-cuisinetype").show();
		$("#lbl-cuisine").show();
		$("#lbl-info").show();
		$("#lbl-added-info").show();
		$("[name=store_hours]").attr("readonly", "readonly");
		$("[name=contact_number]").attr("readonly", "readonly");
		$("[name=max_capacity]").attr("readonly", "readonly");
		$("[name=address]").attr("readonly", "readonly");
		$("#edit-latlon").hide();
		$("#btn-actions").hide();

		$("#edit-category-types").hide();
		$("#edit-category-cuisines").hide();
		$("#edit-category-infos").hide();
		$("#edit-category-added-infos").hide();
	}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlRwoFG3TlR5q_POSBpA_yLw4s2XogXhE&callback=initMap"></script>

{% endblock %}
