<!-- Navigation Bar-->
<header id="topnav">
	<div class="topbar-main  navbar m-b-0 b-0">
		<div class="container">

			<!-- LOGO -->
			<div class="topbar-left">
				<a href="/admin" class="logo"><img src="{{assetUrl}}images/Logo-w-U-Decide.png" style="max-width: 50px; max-height: auto;"/> <span> [ADMINISTRATOR] - {{ user.username }} </span></a>
			</div>
			<!-- End Logo container-->

			<div class="menu-extras">

				<ul class="nav navbar-nav navbar-right pull-right">
					{#
					<li>
						<form role="search" class="navbar-left app-search pull-left hidden-xs">
							<input type="text" placeholder="Search..." class="form-control">
							<a href="#"><i class="fa fa-search"></i></a>
						</form>
					</li>
					<li class="dropdown hidden-xs">
						<a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"> <i class="md md-notifications"></i> <span class="badge badge-xs badge-danger">3</span> </a>
						<ul class="dropdown-menu dropdown-menu-lg">
							<li class="text-center notifi-title">
								Notification
							</li>
							<li class="list-group">
								<!-- list item-->
								<a href="javascript:void(0);" class="list-group-item">
								<div class="media">
									<div class="media-left">
										<em class="fa fa-user-plus fa-2x text-info"></em>
									</div>
									<div class="media-body clearfix">
										<div class="media-heading">
											New user registered
										</div>
										<p class="m-0">
											<small>You have 10 unread messages</small>
										</p>
									</div>
								</div> </a>
								<!-- list item-->
								<a href="javascript:void(0);" class="list-group-item">
								<div class="media">
									<div class="media-left">
										<em class="fa fa-diamond fa-2x text-primary"></em>
									</div>
									<div class="media-body clearfix">
										<div class="media-heading">
											New settings
										</div>
										<p class="m-0">
											<small>There are new settings available</small>
										</p>
									</div>
								</div> </a>
								<!-- list item-->
								<a href="javascript:void(0);" class="list-group-item">
								<div class="media">
									<div class="media-left">
										<em class="fa fa-bell-o fa-2x text-danger"></em>
									</div>
									<div class="media-body clearfix">
										<div class="media-heading">
											Updates
										</div>
										<p class="m-0">
											<small>There are <span class="text-primary">2</span> new updates available</small>
										</p>
									</div>
								</div> </a>
								<!-- last list item -->
								<a href="javascript:void(0);" class="list-group-item"> <small>See all notifications</small> </a>
							</li>
						</ul>
					</li>
					#}

					<li class="dropdown user-box">
						<a href="#" class="dropdown-toggle waves-effect waves-light profile " data-toggle="dropdown" aria-expanded="true"><small>{{ user.username }}</small>&nbsp; <img src="{{baseUrl}}{{user.avatar}}" alt="user-img" class="img-circle user-img">
						<div class="user-status away">
							<i class="zmdi zmdi-dot-circle"></i>
						</div> </a>

						<ul class="dropdown-menu">
							{#
							<li>
								<a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile</a>
							</li>
							<li>
								<a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a>
							</li>
							<li>
								<a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a>
							</li>
							#}
							<li>
								<a href="/logout"><i class="md md-settings-power"></i> Logout</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="menu-item">
					<!-- Mobile menu toggle-->
					<a class="navbar-toggle">
					<div class="lines">
						<span></span>
						<span></span>
						<span></span>
					</div> </a>
					<!-- End mobile menu toggle-->
				</div>
			</div>

		</div>
	</div>

	<div class="navbar-custom">
		<div class="container">
			<div id="navigation">
				<!-- Navigation Menu-->
				<ul class="navigation-menu">
					<li id="admin_dashboard">
						<a href="/admin/restaurants"><i class="md md-home"></i> <span> Dashboard </span> </a>
					</li>
					
					<li id="admin_restaurants" class="has-submenu">
						<a href="/admin/restaurants"><i class="md md-redeem"></i> <span> Food Establishments </span> </a>
						<ul class="submenu">
							<li id="admin_sub_requestforapproval">
								<a href="/admin/restaurants/view/pending_approval">Request For Approval</a>
							</li>
						</ul>
					</li>
					
					<li id="admin_categories" class="has-submenu">
						<a href="#"><i class="md md-store-mall-directory"></i> <span> Categories </span> </a>
						<ul class="submenu">
							<li id="admin_sub_category_type">
								<a href="/admin/categories/type">Category Type</a>
							</li>
							<li id="admin_sub_category_cuisine">
								<a href="/admin/categories/cuisine">Category Cuisine</a>
							</li>
							<li id="admin_sub_category_info">
								<a href="/admin/categories/info">Category Info</a>
							</li>
						</ul>
					</li>
					
					{#
					<li class="has-submenu">
						<a href="#"><i class="md md-redeem"></i> <span> Other </span> </a>
						<ul class="submenu">
							<li class="has-submenu">
								<a href="#">Icons</a>
								<ul class="submenu">
									<li>
										<a href="material-icon.html">Material Design</a>
									</li>
									<li>
										<a href="ion-icons.html">Ion Icons</a>
									</li>
									<li>
										<a href="font-awesome.html">Font awesome</a>
									</li>
								</ul>
							</li>

							<li class="has-submenu">
								<a href="#">Forms</a>
								<ul class="submenu">
									<li>
										<a href="form-elements.html">General Elements</a>
									</li>
									<li>
										<a href="form-validation.html">Form Validation</a>
									</li>
									<li>
										<a href="form-advanced.html">Advanced Form</a>
									</li>
									<li>
										<a href="form-wizard.html">Form Wizard</a>
									</li>
									<li>
										<a href="form-editor.html">WYSIWYG Editor</a>
									</li>
									<li>
										<a href="code-editor.html">Code Editors</a>
									</li>
									<li>
										<a href="form-uploads.html">Multiple File Upload</a>
									</li>
									<li>
										<a href="form-xeditable.html">X-editable</a>
									</li>
								</ul>
							</li>

							<li class="has-submenu">
								<a href="#">Tables</a>
								<ul class="submenu">
									<li>
										<a href="tables.html">Basic Tables</a>
									</li>
									<li>
										<a href="table-datatable.html">Data Table</a>
									</li>
									<li>
										<a href="tables-editable.html">Editable Table</a>
									</li>
									<li>
										<a href="responsive-table.html">Responsive Table</a>
									</li>
								</ul>
							</li>

							<li class="has-submenu">
								<a href="#">Charts</a>
								<ul class="submenu">
									<li>
										<a href="morris-chart.html">Morris Chart</a>
									</li>
									<li>
										<a href="chartjs.html">Chartjs</a>
									</li>
									<li>
										<a href="flot-chart.html">Flot Chart</a>
									</li>
									<li>
										<a href="peity-chart.html">Peity Charts</a>
									</li>
									<li>
										<a href="charts-sparkline.html">Sparkline Charts</a>
									</li>
									<li>
										<a href="chart-radial.html">Radial charts</a>
									</li>
									<li>
										<a href="other-chart.html">Other Chart</a>
									</li>
								</ul>
							</li>

							<li class="has-submenu">
								<a href="#">Maps</a>
								<ul class="submenu">
									<li>
										<a href="gmap.html"> Google Map</a>
									</li>
									<li>
										<a href="vector-map.html"> Vector Map</a>
									</li>
								</ul>
							</li>

							<li class="has-submenu">
								<a href="#">Mail</a>
								<ul class="submenu">
									<li>
										<a href="inbox.html">Inbox</a>
									</li>
									<li>
										<a href="email-compose.html">Compose Mail</a>
									</li>
									<li>
										<a href="email-read.html">View Mail</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					#}
				</ul>
				<!-- End navigation menu  -->
			</div>
		</div>
	</div>
</header>
<!-- End Navigation Bar-->