.form-login {
  max-width: 600px;
  margin: 100px auto 0;
  background:-webkit-linear-gradient(top,transparent 5%,white 150%); 
  -webkit-border-radius: 25px;
}

.form-login h2.form-login-heading {
  margin: 0;
  padding: 25px 20px;
  text-align: center;
  background:-webkit-linear-gradient(bottom,transparent,#c60644);
  text-shadow: 2px 2px 5px #c60644;
  border-bottom: none; 
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Playball', cursive;
}
.login-wrap {
  padding: 20px;
  background-color: transparent;
}
.login-wrap .registration {
  text-align: center;
}
.login-social-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
}
.login-wrap input{
 color: white;
 font-weight: bold;
 border:3px solid #f9f0f3;
 font-family: calibri;
}

#login {
  font-family: 'Playball', cursive;
  font-weight: bold;
  background:-webkit-radial-gradient(center,circle,transparent, lightgrey); 
  color: white;
  text-shadow: 2px 2px 5px black;
}
#login:hover{
  font-family: 'Playball', cursive;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px #c60644;
  background:lightgrey; 
}
.acc {
  font-family: 'Playball', cursive;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px black;
}
.acc:hover{
  font-family: 'Playball', cursive;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px #c60644;
}
.checkbox{
  margin-left: 350px;
  text-align: center;
  right: 0px;
  border:none;
  border-radius: 5px;
  cursor: pointer; cursor: hand; 
  background:-webkit-radial-gradient(center,circle,transparent 5%, lightgrey); 
  color: white;
  text-shadow: 2px 2px 5px black;
}
.checkbox:hover{
  color: white;
  text-shadow: 2px 2px 5px #c60644;
  background:lightgrey; 
}
.registration p, a{
  font-family: 'Playball', cursive;
  font-weight: bold;
  font-size: 11pt;
  color: white;
  text-shadow: 2px 2px 5px black;
}

#myModal{
 background:-webkit-radial-gradient(center,circle,transparent 60%,black ); 
 background-image: url('../mk-img/parallax2.jpg');
}

#myModalDialog{
  margin-top: 210px;
  width: 800px;
  font-family: 'Playball', cursive;
  font-weight: bold;
}
a:focus, a:hover{
  text-decoration: none !important;
  outline: none !important;
}


#myModalFooter{
   background: linear-gradient(to top left, #c60644, transparent); 
   font-family: 'Playball', cursive;
   font-weight: bold;
}

#myModalHeader{
   background: linear-gradient(to top right, #c60644, transparent); 
   color: white;
   font-family: 'Playball', cursive;
   font-weight: bold;
}

.modal-title{
  color: white;
  font-family: 'Playball', cursive;
  font-weight: bold;

}

#error{
  display: none;
  color: red;
  text-align: center;
  font-family: 'Playball', cursive;
  font-weight: bold;
  font-size: 20px;
  background:-webkit-radial-gradient(center,circle,white 30%,transparent  ); 
}
