<!DOCTYPE html>
<html>

	<!-- Mirrored from moltran.coderthemes.com/menu_2/index.html by HTTrack Website Copier/3.x [XR&CO'2013], Sun, 04 Dec 2016 11:45:12 GMT -->
	<head>
		<meta charset="utf-8" />
		<title>UDecide - {{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
		<meta content="Coderthemes" name="author" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{assetUrl}}images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link href="{{assetUrl}}moltran/assets/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/core.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/icons.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/components.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/pages.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/menu.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/responsive.css" rel="stylesheet" type="text/css">

		<script src="{{assetUrl}}moltran/assets/js/modernizr.min.js"></script>
	</head>

	<body>

		{% block header %}
		{{include('restaurant/header.twig')}}
		{% endblock %}

		<!-- jQuery  -->
		<script src="{{assetUrl}}moltran/assets/js/jquery.min.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/bootstrap.min.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/detect.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/fastclick.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/jquery.blockUI.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/waves.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/wow.min.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/jquery.nicescroll.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/jquery.scrollTo.min.js"></script>

		<!-- App js -->
		<script src="{{assetUrl}}moltran/assets/js/jquery.app.js"></script>

		<!-- moment js  -->
		<script src="{{assetUrl}}moltran/assets/plugins/moment/moment.js"></script>

		<!-- counters  -->
		<script src="{{assetUrl}}moltran/assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
		<script src="{{assetUrl}}moltran/assets/plugins/counterup/jquery.counterup.min.js"></script>

		<!-- sweet alert  -->
		<script src="{{assetUrl}}moltran/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

		<!-- todos app  -->
		<script src="{{assetUrl}}moltran/assets/pages/jquery.todo.js"></script>

		<!-- chat app  -->
		<script src="{{assetUrl}}moltran/assets/pages/jquery.chat.js"></script>
		
		{#
		<!-- flot Chart -->
		<script src="{{assetUrl}}moltran/assets/plugins/flot-chart/jquery.flot.js"></script>
		<script src="{{assetUrl}}moltran/assets/plugins/flot-chart/jquery.flot.time.js"></script>
		<script src="{{assetUrl}}moltran/assets/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
		<script src="{{assetUrl}}moltran/assets/plugins/flot-chart/jquery.flot.resize.js"></script>
		<script src="{{assetUrl}}moltran/assets/plugins/flot-chart/jquery.flot.pie.js"></script>
		<script src="{{assetUrl}}moltran/assets/plugins/flot-chart/jquery.flot.selection.js"></script>
		<script src="{{assetUrl}}moltran/assets/plugins/flot-chart/jquery.flot.stack.js"></script>
		<script src="{{assetUrl}}moltran/assets/plugins/flot-chart/jquery.flot.crosshair.js"></script>
		
		<!-- dashboard  -->
		<script src="{{assetUrl}}moltran/assets/pages/jquery.dashboard.js"></script>
		#}

		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$('.counter').counterUp({
					delay : 100,
					time : 1200
				});
			});
		</script>
		
		<script>
			$("#" + "{{active_menu}}").addClass("active");
			$("#" + "{{active_sub_menu}}").addClass("active");
		</script>
		
		<div class="wrapper">
			{% block content %}
			{% endblock %}
		</div>
	</body>

	<!-- Mirrored from moltran.coderthemes.com/menu_2/index.html by HTTrack Website Copier/3.x [XR&CO'2013], Sun, 04 Dec 2016 11:45:45 GMT -->
</html>