<!DOCTYPE html>
<html>

	<!-- Mirrored from moltran.coderthemes.com/menu_2/500.html by HTTrack Website Copier/3.x [XR&CO'2013], Sun, 04 Dec 2016 11:47:21 GMT -->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
		<meta name="author" content="Coderthemes">

		<link rel="shortcut icon" href="assets/images/favicon_1.ico">

		<title>{{ title }}</title>

		<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{assetUrl}}images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Custom Files -->
		<link href="{{assetUrl}}moltran/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/core.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/icons.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/components.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/pages.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/menu.css" rel="stylesheet" type="text/css">
		<link href="{{assetUrl}}moltran/assets/css/responsive.css" rel="stylesheet" type="text/css">

		<script src="{{assetUrl}}moltran/assets/js/modernizr.min.js"></script>
	</head>
	<body>

		<div class="wrapper-page">
			<div class="ex-page-content text-center">
				<h1>Welcome!</h1>
				<h2 class="font-light">Please Wait for the confirmation of your given requirements to activate your account.</h2>
				<br>
				<p>
					Why not try refreshing your page? or you can contact <a target="_blank" href="http://mail.google.com">support</a>
				</p>

				<a class="btn btn-purple waves-effect waves-light" href="/logout"><i class="fa fa-angle-left"></i> Logout </a>
			</div>

		</div>

		<script>
			var resizefunc = [];
		</script>

		<!-- Main  -->
		<script src="{{assetUrl}}moltran/assets/js/jquery.min.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/bootstrap.min.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/detect.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/fastclick.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/jquery.slimscroll.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/jquery.blockUI.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/waves.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/wow.min.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/jquery.nicescroll.js"></script>
		<script src="{{assetUrl}}moltran/assets/js/jquery.scrollTo.min.js"></script>

		<script src="{{assetUrl}}moltran/assets/js/jquery.app.js"></script>
	</body>
</html>