{% extends 'restaurant/index.twig' %}
{% block content %}

<!--venobox lightbox-->
<link rel="stylesheet" href="{{assetUrl}}moltran/assets/plugins/magnific-popup/dist/magnific-popup.css">
<link href="{{assetUrl}}moltran/assets/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">

<style>
	#map {
		height: 400px;
		width: 100%;
	}
</style>

<div class="container">

	{% if flash.message %}
	{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
	<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ flash.message }}
	</div>
	{% endif %}

	<div class="row port">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<h3 class="panel-title">Menu Thumbnails</h3>
						</div>
						<div class="col-xs-4">
							<form method="post" action="{{ urlFor('upload_menu_thumbnails') }}" enctype="multipart/form-data" style="display: -webkit-box;">
								<input type="hidden" name="menu_id" value="{{ menu.id }}" />
								<input name="thumbnails[]" type="file" multiple="multiple" accept="image/*" >
								<button type="submit" class="btn btn-primary">
									Upload
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="portfolioContainer">
					{% for index, thumbnail in thumbnails %}
					<div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
						<div class="gal-detail thumb">
							<form action="{{ urlFor('delete_menu_thumbnail') }}" method="post">
								<input type="hidden" name="menu_id" value="{{ menu.id }}" />
								<input type="hidden" name="thumbnail_id" value="{{ thumbnail.id }}" />
								<button class="btn btn-danger waves-effect waves-light btn-xs m-b-5 pull-right">
									<i class="md md-clear"></i> remove
								</button>
							</form>
							<a href="{{baseUrl ~ thumbnail.file_path}}" class="image-popup" title="Screenshot-{{index}}"> <img src="{{baseUrl ~ thumbnail.file_path}}" class="thumb-img" alt="work-thumbnail"> </a>
							<!-- <h4>Gallary Image</h4> -->
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- End row -->

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="#" class="pull-right" onclick="enableEdit()">Edit Details</a>
					<h3 class="panel-title">DETAILS</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" method="post" action="{{ urlFor('edit_menu') }}">
						<input type="hidden" name="menu_id" value="{{ menu.id }}" />
						<div class="form-group">
							<label class="col-md-2 control-label">Food Name</label>
							<div class="col-md-10">
								<input type="text" name="food_name" class="form-control" value="{{ menu.food_name }}" readonly>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Food Description</label>
							<div class="col-md-10">
								<input type="text" name="food_description" class="form-control" value="{{ menu.description }}" readonly>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Menu Type</label>
							<div class="col-md-10">
								<input type="text" name="food_menu_type" class="form-control" value="{{ menu.menu_type }}" readonly>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Price</label>
							<div class="col-md-10">
								<input type="number" name="food_price" class="form-control" value="{{ menu.price }}" readonly>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Preparation Time (minutes)</label>
							<div class="col-md-10">
								<input type="number" name="food_preparation_time" value="{{ menu.preparation_time }}" class="form-control" readonly>
							</div>
						</div>

						<div class="form-group" id="btn-menu-actions" style="display: none;">
							<label class="col-md-2 control-label"></label>
							<div class="col-md-10">
								<button type="submit" class="btn btn-primary waves-effect waves-light m-b-5">
									Save
								</button>
								<button type="button" onclick="disableEdit()" class="btn btn-primary waves-effect waves-light m-b-5">
									Cancel
								</button>
							</div>
						</div>

					</form>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>
		<!-- col -->
	</div>
	<!-- End row -->

</div>
<!-- end container -->

<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/isotope/dist/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/dropzone/dist/dropzone.js"></script>

<script type="text/javascript">
	$(window).load(function() {
		var $container = $('.portfolioContainer');
		$container.isotope({
			filter : '*',
			animationOptions : {
				duration : 750,
				easing : 'linear',
				queue : false
			}
		});

		$('.portfolioFilter a').click(function() {
			$('.portfolioFilter .current').removeClass('current');
			$(this).addClass('current');

			var selector = $(this).attr('data-filter');
			$container.isotope({
				filter : selector,
				animationOptions : {
					duration : 750,
					easing : 'linear',
					queue : false
				}
			});
			return false;
		});
	});
	$(document).ready(function() {
		$('.image-popup').magnificPopup({
			type : 'image',
			closeOnContentClick : true,
			mainClass : 'mfp-fade',
			gallery : {
				enabled : true,
				navigateByImgClick : true,
				preload : [0, 1] // Will preload 0 - before current, and 1 after the current image
			}
		});
	}); 
</script>

<script>
	function enableEdit() {
		$("[name=food_name]").removeAttr("readonly");
		$("[name=food_description]").removeAttr("readonly");
		$("[name=food_menu_type]").removeAttr("readonly");
		$("[name=food_price]").removeAttr("readonly");
		$("[name=food_preparation_time]").removeAttr("readonly");
		$("#btn-menu-actions").show();

		$("[name=food_name]").attr("autofocus", true);
	}

	function disableEdit() {
		$("[name=food_name]").attr("readonly", "readonly");
		$("[name=food_description]").attr("readonly", "readonly");
		$("[name=food_menu_type]").attr("readonly", "readonly");
		$("[name=food_price]").attr("readonly", "readonly");
		$("[name=food_preparation_time]").attr("readonly", "readonly");
		$("#btn-menu-actions").hide();
	}
</script>

{% endblock %}
