{% extends 'restaurant/index.twig' %}
{% block content %}

<!--venobox lightbox-->
<link rel="stylesheet" href="{{assetUrl}}moltran/assets/plugins/magnific-popup/dist/magnific-popup.css">
<link href="{{assetUrl}}moltran/assets/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">

<style>
	#map {
		height: 400px;
		width: 100%;
	}
</style>

<div class="container">

	{% if flash.message %}
	{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
	<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ flash.message }}
	</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">ADD MENU</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" method="post" action="{{ urlFor('add_menu') }}" enctype="multipart/form-data">
						<div class="form-group">
							<label class="col-md-2 control-label">Food Name</label>
							<div class="col-md-10">
								<input type="text" name="food_name" class="form-control" autofocus>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Food Description</label>
							<div class="col-md-10">
								<input type="text" name="food_description" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Menu Type</label>
							<div class="col-md-10">
								<input type="text" name="food_menu_type" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Price</label>
							<div class="col-md-10">
								<input type="number" name="food_price" value="1" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Preparation Time (minutes)</label>
							<div class="col-md-10">
								<input type="number" name="food_preparation_time" value="1" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Thumbnails (multi-select)</label>
							<div class="col-md-10">
								<input type="file" name="menu_thumbnails[]" value="1" class="form-control" accept="image/*" multiple>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label"></label>
							<div class="col-md-10">
								<button type="submit" class="btn btn-primary waves-effect waves-light m-b-5">
									Save
								</button>
							</div>
						</div>

					</form>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>
		<!-- col -->
	</div>
	<!-- End row -->

	<div class="row port">
		<div class="portfolioContainer">
			
			{% for menu in menus %}
			
			<div class="col-sm-6 col-lg-3 col-md-4 webdesign graphicdesign">
				<div class="gal-detail thumb">
					<a href="/restaurant/menu/{{menu.id}}/details" class="image-popup" title="{{menu.food_name}}"> <img src="{{baseUrl ~ menu.thumbnails[0].file_path}}" class="thumb-img" alt="work-thumbnail"> </a>
					<h4>{{menu.food_name}}</h4>
					<small>Desc.:</small><b>{{menu.description}}</b>
					<br />
					<small>Type: </small><b>{{menu.menu_type}}</b>
					<br />
					<small>Price: </small><b>{{menu.price}}</b>
					<br />
					<small>Preparation Time: </small><b>{{menu.preparation_time}}</b> <small> minute(s)</small>
				</div>
			</div>
			
			{% endfor %}
		</div>
	</div>
	<!-- End row -->

</div>
<!-- end container -->

<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/isotope/dist/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="{{assetUrl}}moltran/assets/plugins/dropzone/dist/dropzone.js"></script>

{% endblock %}
